<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Customer Management</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div>
			<h1 class="text-success">Spring Home Page - Welcome</h1>
			<hr>
		</div>
		<div>
			<p class="h5">Welcome to Spring Home Page</p>
			<p class="h5">I wish you all the best</p>
			<hr>
		</div>
		<div>
			<p class="font-weight-normal">
				Visit our great Customer
				<a th:href="@{/customer/page/1}">Page</a>
			</p>
			<hr>
		</div>
		<div>
			<p>User: <span th:text="${username}"></span></p>
			<p>Role(s): <span th:text="${roles}"></span></p>
			<p>First Name: <span th:text="${firstName}"></span></p>
			<p>Last Name: <span th:text="${lastName}"></span></p>
			<hr>
		</div>
		<div>
			<div sec:authorize="hasAnyRole('ROLE_MANAGER')">
				<a th:href="@{/home/manager}">Leadership meeting</a>
				<span>Only for Manager</span>
			</div>
			<div sec:authorize="hasAnyRole('ROLE_ADMIN')">
				<a th:href="@{/home/admin}">ITs System meeting</a>
				<span>Only for Admin</span>
			</div>
			<form class="mt-4" action="#" th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" class="btn btn-outline-primary" />
			</form>
		</div>
	</div>
</body>
</html>