*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    font-size: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.4;
}
.wrapper{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
/*=======HEADER========*/
.header{
    height: 70px;
    width: 100%;
    background: rgba(0,0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.header .logo{
    float: left;
    padding-top: 21px;
}
.header .main-nav{
    float: right;
    line-height: 70px;
}
.header .main-nav ul li{
    float: left;
    margin-left: 80px;
    list-style: none;
}
.header .main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
/*=======BANNER========*/
.banner{
    height: 620px;
    background: url(../images/banner.png);
    background-size: cover;
    text-align: center;
    padding-top: 210px;
    box-sizing: border-box;
}
.banner .block .title{
    font-size: 60px;

}
.banner .block .subtitle{
    font-size: 24px;
    margin: 20px 0 30px;
}
.banner .block .btn-learn{
    display: block;
    width: 200px;
    height: 50px;
    color: #FFF;
    background: #f00;
    opacity: 0.9;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 50px;
    
}
/*=======ARTICLES========*/
.articles{
    background: linear-gradient(95deg,white 50%,rgba(0, 0, 0, 0.8) 50%);
    padding-top: 64px;
    height: 600px;
}
.articles .wrapper::after{
    content: ' ';
    display: block;
    clear: both;
}
.articles article{
    width: 50%;
    float: left;
}

.articles article:first-of-type{
    padding-right: 112px;
    box-sizing: border-box;
    color: #000;
}
.articles article:last-of-type{
    padding-left: 112px;
    box-sizing: border-box;
   
}
.articles h2{
    font-size: 30px;
}

.articles h2::after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: red;
    margin: 25px 0;
}
.articles .text-1{
    font-style:italic ;
    font-size: 21px;
}
.articles .text-2{
    padding-top:25px ;
    padding-bottom: 60px;
}
/*=======FOOTER========*/
.footer{
    height: 180px;
    background: #000;
    padding-top: 25px;
}

.footer .footer-col{
    width: 25%;
    float: left;
}
.footer .footer-col h3{
    text-transform: uppercase;
    font-size: 17px;
    
}
.footer .footer-col ul li{
    opacity: 0.4;
    list-style:none;
    line-height: 1.4;
   
}
.footer h3::after{
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background:grey;
    margin: 18px 0;
}
.footer .end li{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    text-align: center;
    margin-right: 20px;
}
.footer .end li a{
    color:white ;
    line-height: 32px;
}
.footer p{
    opacity: 0.4;
    margin-top: 48px;
}


