/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
	CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	FONT
*/
@font-face {
	font-family: Proxima;	
	src: url('../fonts/Proxima-Nova/ProximaNova-Bold.otf') format('otf');
}

/*
	BASE
*/

* {
	font-family: Proxima, serif, sans-serif;
	text-decoration: none;
	color: #000000;


}

/*
	HEADER
*/

.page-header {
	height: 66px;
	background-color: #f6c61c;
}

.page-header .wrapper {	
	height: 100%;
	margin-left: 80px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	align-items: center;

}


.page-header nav ul {
	display: flex;

	column-gap: 80px;

}

/*	
	MAIN-PAGE
*/
.main-page {
	display: flex;
}
.main-page .wrapper {
	display: flex;

	width: 85%;
	height: 100%;
	margin: 0 auto;
}
.main-page main {
	width: 97%;
}	

.main-page .sidebar {
	width: 25%;
}

/*
	ARTICLE
*/
article {
	display: flex;
}
.articles .article-photo {
	width: 25%;
}

.articles .article-content {
	width: 70%;
}

.articles .article-content {

	display: flex;
	flex-flow: column wrap;

	justify-content: space-between;
}
.articles .article-content h3 {
	font-family: Proxima;
	font-size: 28px;
	font-weight: 0.4;
	line-height: 1.2;
}
.main-page h2 {
	margin-top: 35px;
	margin-bottom: 15px;

	font-family: Proxima;
	font-weight: bold;

}
.metadata .date {
	color: #a9a9a9;
}

.metadata .author {
	color: #a9a9a9;
}

.metadata .category {
	color: #f6c61c;
}

.metadata span::before {
	content: ' | ';
	color: #a9a9a9;
}

.metadata .date::before {
	content: none;
}

.article-content .description {
	line-height: 1.4;
}

.article-content .description::after {
	content: ' > ';
	color: #f6c61c;
	font-weight: bold;
}

.status-notification .views::after {
	content: ' | ';
	color: #a9a9a9;
	margin: 0 8px 0 8px;
}
.status-notification span i {
	color: #a9a9a9;
	margin: 0 8px 0 0px;
}

.status-notification .comments{
	color: #f6c61c;
}
.status-notification .views{
	color: #a9a9a9;
}

.articles article {
	margin-bottom: 77px;
}

main button {
	height: 52px;
	width: 190px;
	
	display: block;
	margin: 77px auto 0 auto;


	border-radius: 7px;
	border: 2px solid #f6c61c;
	text-transform: uppercase;
	background-color: transparent;

	cursor: pointer;
}




/*
	FOOTER
*/
.page-footer {
	height: 66px;
	background-color: #f6c61c;

	margin-top: 127px;
}
.page-footer .wrapper {
	height: 100%;
	margin-right: 120px;
	margin-left: 60px;

	display: flex;
	justify-content: space-between;

	align-items: center;
}


.page-footer nav ul {
	display: flex;

	column-gap: 40px;
	margin-top: 117px;
}

.page-footer .social-icons ul li{
	height: 40px;
	width: 40px;

	background-color: white;
	border-radius: 50%;	

	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons a i  {
	color: #f6c61c;
}

/*
	SIDE BAR
*/

.search-box {
	padding-top: 71px;
	padding-left: 93px;

	box-sizing: border-box;

}
.sidebar label {
	position: absolute;
	z-index: 1;

	padding: 6px 8px 4px 9px;
}
.sidebar input {
	position: relative;

	width: 100%;
	height: 30px;
	font-size: 15px;
	
	padding: 4px 0 4px 30px;
	border-radius: 20px;
	border: 1px solid #a9a9a9;

}
/*
	CALENDAR
*/
.calendar-heading {
	display: flex;
	flex-flow: row wrap;

	justify-content: space-around;

	border-radius: 4px;
	border: 1px solid #e5e5e5;
	padding: 17px 0 17px 0;

}
.calendar-widget, .news {
	padding-top: 43px;
	padding-left: 93px;

}
.previous-icon i,
.after-icon i {
	color: #e5e5e5;
}

.calendar-body table {
	width: 100%;
	height: 200px;
}

.calendar-body table th,
.calendar-body table td {

	text-align: center;
	vertical-align: middle;

	border: 1px solid #e5e5e5;
	font-size: 11.5px;
}

.calendar-body table th {
	background-color: #e7e7e7;
}

#current-date {
	background-color: #f6c61c; 
}

.calendar-body tbody tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

.calendar-body tbody tr:last-child td:last-child {
	border-bottom-left-radius: 4px;
}

.calendar-body tbody tr td:last-child(2) {
	color:	#f6c61c;
	background-color: #f6c61c;
}

.calendar-body .special-case {
	color: gray;
}

.sidebar .news h1 {
	font-weight: bold;
	font-size: 18px;

	display: flex;
	align-items: center;
	white-space: nowrap;
}

.sidebar .news h1::after {
	display: block;	
	content: '';
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;

	margin-left: 6px;
}

.news article {
	display: flex;

	flex-flow: column;
	justify-content: space-between;
}

.sidebar .news {
	width: 100%;

	box-sizing: border-box;
}
.sidebar .news .news-date {
	color: gray;
	font-size: 11px;
	margin-bottom: 10px;
}

.sidebar .news article {
	margin-top: 40px;

}