* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* =====================> HEADER <=================== */
.header {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 212, 19);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.header .nav-bar {
    flex-basis: 30%;
}

.header .nav-bar ul{
    display: flex;
    justify-content: space-around;
}

.header .nav-bar ul li {
    list-style: none;
}

.header .header-logo {
    margin: 0 50px;
}

/* =====================> MAIN <=================== */



.main {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
}

/* =====================> MAIN - ARTICLE<=================== */

.main article {
    flex-basis: 80%;
    margin-right: 10px;
    
}



.main article h1 {
    margin-top: 50px;

}

.main article .row {
    width: 100%;
    height: 160px;
    display: flex;
    margin-bottom: 80px;
}


.main article .row .row-img {
    width: 30%;
    height: 200px;
    margin-right: 30px;
    padding-top: 14px;
}

.main article .row .row-text  .title {
    font-size: 30px;
    font-weight: 400;
    
}

.main article .row .row-text .date {
    display: flex;
    font-size: 14px;
    margin: 10px 0;
}

.main article .row .row-text .date p:last-child {
    color: rgb(255, 212, 19);
}



.main article .row .date hr {
    margin: 0 5px;
}

.main article .row .row-text .intro {
    line-height: 25px;
    height: 85px;
}

.main article .row .row-text .intro .right {
    color: orange;
    cursor: pointer;
}

.main article .row .row-text .view {
    display: flex;
    margin-top: 5px;
}
.main article .row .row-text .view hr{
    margin: 0 10px;
}

.main article .row .row-text .view i {
    margin-right: 5px;
}
.main article .row .row-text .view p {
    color: orange;
}

.main article button {
    cursor: pointer;
    margin: 80px 0;
    padding: 10px 20px;
    margin-left: 40%;
    border: 1px solid orange;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}



/* =====================> MAIN - ASIDE<=================== */


aside  {
    margin-left: 30px;
    margin-top: 60px;
    flex-basis: 20%;
}

aside  .search {
   
    width: 100%;
    
}


aside  .search input{
    width: 100%;
    height: 24px;
    

    border-radius: 20px;
    border: 1px solid #999;

    color: #999;
    padding-left: 26px;
}




aside  .search i {
    position: relative;
    top: 22px;
    left: 4px;
}


aside .cal {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #999;
    border-collapse:collapse;
}

aside .cal tr,td {
    border: 1px solid rgb(228, 226, 226);
    text-align: center;
    height: 24px;
}

aside .cal th {
    height: 30px;
}

aside .cal th span {
    margin: 0 20px;
    cursor: pointer;
}

aside .cal tbody tr:first-child {
    background-color: #999;
}

aside .cal tbody tr:nth-child(2) td:nth-child(-n + 2){
    color: #999;
}


aside .cal tbody tr:last-child td:nth-child(2) {
    background-color: orange;
} 

aside .cal tbody tr:last-child td:nth-child(n + 6) {
    color: #999;
}

aside .popula {
    margin-top: 20px;

}

aside  #popula-hr {
    width: 40%;
    position: relative;
    top: -12px;
    left: 110px;
}



aside .popula-news {
    margin-top: 20px;
}

aside .popula-news p {
    color: #888;
}


/* =====================> Footer <=================== */

.footer {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 212, 19);
}

.footer .nav-footer {
    margin-left: 10%;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .nav-footer .copy-right {
    color: #999;
}

.footer .nav-footer .contact {
    display: flex;
   
}

.footer .nav-footer .contact a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.footer .nav-footer .social {
    display: flex;
}

.footer .nav-footer .social .icon{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    
}

.footer .nav-footer .social .icon i {
    line-height: 30px;
    padding-left: 8px;
    color: rgb(255, 212, 19);
    cursor: pointer;
}






