* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.white-color {
    color: white;
}


/* HEADER */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#header .header-img {
    margin-left: 80px;
}

#header .header-img img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#header .header-nav ul {
    list-style-type: none;
    display: flex;
}

#header .header-nav a {
    margin-right: 135px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 50;
}


/* SLIDER */

#slider {
    background: url(../images/banner.png) top center / cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .slider-body {
    color: white;
    text-align: center;
    position: relative;
}

.slider-body .slider-heading {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.slider-body .slider-description {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 40px;
}

.slider-body .slider-btn {
    background-color: red;
    padding: 20px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    line-height: 10px;
    border: none;
}

.slider-body .slider-btn:hover {
    background-color: tomato;
    cursor: pointer;
}


/* MAIN */

#main {
    height: 100vh;
    background: linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, #111 50%, #111 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main .main-body {
    width: 50%;
    padding: 0 160px;
}

#main .main-heading {
    font-size: 34px;
    font-weight: 10;
    line-height: 60px;
}

#main .main-heading::after {
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    background-color: red;
}

#main .main-description {
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.4;
    margin-top: 18px;
    margin-bottom: 18px;
}

#main .main-content {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 16px;
}


/* FOOTER */

#footer {
    height: 240px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 40px 160px;
}

#footer .footer-body {
    width: 25%;
}

.footer-body .footer-heading {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 50px;
}

.footer-body .footer-heading::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: #ccc;
}

.footer-body .footer-content {
    padding-top: 9px;
    color: #bbb;
}

.footer-body .footer-icon i {
    font-size: 41px;
}

.footer-body .copyright {
    font-size: 12px;
    position: relative;
    top: 22%;
}