.item {
	margin-top: 200px;
	/*all = transform + border-radius*/
	transition: transform 	  5s 0s linear, 
				border-radius 2s 0s linear;
}
/*
	+ hover
	+ activ
	+ focus
*/
.item:hover {
	border-radius: 50%;
	transform:  rotate(45deg) 
				translateX(100px)
				scale(0.5);
}