html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(15, 15, 15);
    opacity: 0.9;
    position: relative;
    justify-content: center;
}

.header-top-left {
    position: absolute;
}

.header-top-left #logo {
    width: 162px;
    margin: 20px 125px;
}

.header-top-right {
    position: absolute;
    right: 125px;
}

.header-top-right ul li {
    list-style: none;
    right: 0;
    color: white;
    display: inline-block;
    margin: auto 50px;
    font-size: larger;
    text-transform: uppercase;
}

.header-top-left #logo:hover,
.header-top-right ul li:hover {
    cursor: pointer;
    box-shadow: 0 0 20px slateblue;
}


/* BACKGROUND */

.background {
    width: 100%;
    height: 92vh;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-origin: border-box;
    position: relative;
}

.bg-content {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bg-heading {
    top: 40%;
    font-size: 60px;
}

.bg-paragraph {
    top: 50%;
    text-transform: inherit;
    font-size: 25px;
    font-weight: 400;
}

.bg-button {
    width: 160px;
    height: 50px;
    top: 60%;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.bg-button a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 18%;
}


/* MAIN */

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, #333 50%, #333 100%);
}

.main-block {
    position: absolute;
    display: inline-block;
    width: 30%;
    top: 8%;
}

.main-left {
    left: 10%;
}

.main-right {
    right: 10%;
    color: #fff;
}

.main-heading {
    font-size: 60px;
    font-weight: 80;
    line-height: 110px;
    margin: 0;
}

.main-heading::after {
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: red;
}

.main-content-head {
    font-size: 24px;
    font-weight: 30;
    font-style: italic;
}

.main-content {
    font-size: 18px;
    font-weight: 15;
    text-align: left;
}


/* FOOTER */

footer {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 80%;
    height: 28vh;
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 18%;
}

.footer-block-head {
    text-transform: uppercase;
    color: gainsboro;
    margin: 0;
    font-size: 16px;
    font-weight: 30;
    line-height: 60px;
}

.footer-block-head::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkgrey;
}

.footer-block-content {
    color: dimgray;
    font-size: 13px;
    font-weight: 30;
    padding: 1px 0;
}

.footer-block-icon {
    color: gainsboro;
    margin: 8px 6px 0;
    font-size: 25px;
    float: left;
}

.signature {
    clear: both;
    margin: 0;
    position: relative;
    top: 67px;
}